.build
.contentlayer/.cache
.DS_Store
.env*
.next/
.open-next
.pnp
.pnp.js
.sst
.yarn/install-state.gz
*.pem
*.tsbuildinfo
coverage
iliazlobin-sts.md
next-env.d.ts
node_modules
npm-debug.log*
out/
yarn-debug.log*
yarn-error.log*
patches/**/*
